In [1]:
import pandas as pd
df=pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [3]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [5]:
dummies=pd.get_dummies(inputs.Sex).astype(int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [9]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [10]:
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [12]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [15]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [14]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [64]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.3)

In [65]:
len(X_train)

623

In [66]:
len(inputs)

891

In [67]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [68]:
model.fit(X_train,y_train)

GaussianNB()

In [69]:
model.score(X_test,y_test)

0.7985074626865671

In [41]:
X_test

     Pclass        Age     Fare  female  male
710       1  24.000000  49.5042       1     0
286       3  30.000000   9.5000       0     1
761       3  41.000000   7.1250       0     1
718       3  29.699118  15.5000       0     1
23        1  28.000000  35.5000       0     1
..      ...        ...      ...     ...   ...
177       1  50.000000  28.7125       1     0
603       3  44.000000   8.0500       0     1
249       2  54.000000  26.0000       0     1
455       3  29.000000   7.8958       0     1
434       1  50.000000  55.9000       0     1

[268 rows x 5 columns]

In [70]:
y_test

654    0
63     0
199    0
689    1
4      0
      ..
802    1
294    0
227    0
801    1
61     1
Name: Survived, Length: 268, dtype: int64

In [71]:
model.predict_proba(X_test[:10])

array([[6.16587090e-02, 9.38341291e-01],
       [9.70856303e-01, 2.91436966e-02],
       [3.52293877e-02, 9.64770612e-01],
       [3.31418595e-10, 1.00000000e+00],
       [9.88595036e-01, 1.14049643e-02],
       [6.02324747e-02, 9.39767525e-01],
       [9.72631797e-01, 2.73682028e-02],
       [9.74745667e-01, 2.52543331e-02],
       [9.87922928e-01, 1.20770723e-02],
       [8.86759613e-01, 1.13240387e-01]])